<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kasiyas.spring.test.jstl.dao.WeatherhistoryDAO">
	<select id="selectWeather" resultType="com.kasiyas.spring.test.jstl.model.Weatherhistory">
		SELECT 
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM 
			`weather`
	</select>
	
	<insert id="insertWeather" parameterType="map">
		INSERT INTO
			`weather`
		(
			`date`
			, `weather`
			, `microDust`
			, `temperatures`
			, `precipitation`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{date }
			, #{weather }
			, #{microDust }
			, #{temperatures }
			, #{precipitation }
			, #{windSpeed }
			, now()
			, now()
		)
		
	
	</insert>




</mapper>