@charset "UTF-8";

#wrap {
    width: 1100px;
    margin: auto;
}

header {
    height: 100px;
}

.main-menu {
    height:40px;
    background-color: rgb(238, 119, 40);
}

.main-menu .main-link {
    color: aliceblue;
}

.main-menu .main-link:hover {
    background-color: #ff6666;
}

.contents {
    height: 700px;
}

.contents > .main-banner {
    height:430px;
}

.contents > .main-info {
    height:310px;
}

.main-info > .reserveation {
    height: 270px;
    width:350px;
    background-color: brown;
}

.main-info > .reservationCheck {
    height: 270px;
    width: 450px;
    background-color: rgb(255, 136, 0);
}

.reservationCheck .radio-size {
    width: 30px;
}

.reservationCheck .box {
    width: 420px;
}

label {
    color:azure
}

.main-info > .contact {
    height:270px;
    width:300px;
    background-color: brown;
}

.footer-class {
    height: 100px;
}
